:root {
  /* Light theme colors */
  --primary-light-bg-color: #2a475e;
  --secondary-light-bg-color: #66c0f4; /* Replace with your light mode background color */
  --primary-text-color: #000000; /* Replace with your light mode text color */
  /* ... other light theme colors ... */

  /* Dark theme colors */
  --primary-dark-bg-color: #171a21;
  --secondary-dark-bg-color: #1b2838;
  --dark-text-color: #ffffff; /* Replace with your dark mode text color */
  /* ... other dark theme colors ... */
}

body {
  background: linear-gradient(
    to right,
    var(--primary-dark-bg-color),
    var(--secondary-dark-bg-color)
  );
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

/* Apply transition to body when theme-transition class is added */
body.theme-transition {
  transition: background-color 0.3s, color 0.3s;
}

/* Breathing effect animation */
@keyframes breathing {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

/* Apply the animation to body during theme transition */
body.theme-transition {
  animation: breathing 3s infinite;
}

.logo {
  text-align: center;
  margin-top: 0;
  padding-bottom: 20px;
}

.logo img {
  max-width: 400px; /* Adjust this value as needed */
  height: auto; /* This will maintain the aspect ratio of the image */
  display: block; /* Ensures the image is a block-level element */
  margin: 0 auto; /* Centers the image in the .logo div */
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 140px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 15px;
  background-color: red;
  border-radius: 10px;
  border: none;
  color: white;
  position: relative;
  cursor: pointer;
  font-weight: 900;
  transition-duration: 0.2s;
  background: linear-gradient(0deg, #000, #272727);
  margin: 5px;
  text-decoration: none;
}

.button:before,
.button:after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    #0abae5,
    #0abae5,
    #8b0b9f,
    #0abae5,
    #8b0b9f,
    #0abae5,
    #0abae5,
    #8b0b9f,
    #8b0b9f,
    #8b0b9f
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: steam 20s linear infinite;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button:after {
  filter: blur(50px);
}

/* Products grid */
.products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 70px;
}

/* Individual product card */
.product-card {
  width: calc(20% - 16px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; /* Establish stacking context */
  box-shadow: 5px 10px 30px rgb(64, 42, 64);
}

.product-card .image-container {
  position: relative;
  padding: 20px;
  z-index: 1; /* Ensure the image is on top of other content */
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  position: relative;
  z-index: -1;
}

.product-card:hover img {
  transform: scale(1.06);
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.product-info {
  padding: 10px;
  background: #fff;
}

.product-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.product-info.theme-transition {
  transition: background-color 0.3s, color 0.3s;
}

.info-price {
  position: absolute;
  right: 5%;
  top: 83%;
  font-size: 18px;
  font-weight: bold;
  color: #f39c12;
  animation: pulse 2s infinite;
  /* opacity: 0.8; */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.view-counter {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.view-icon {
  margin-right: 5px;
}

.like-button {
  background: none;
  border: none;
  color: #aaa;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.2s;
}

.like-button:active {
  color: red;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 50px;
}

.mySlides {
  display: none;
  width: 100%;
}

.mySlides img {
  width: 50%; /* Control the width of the image. Example is 70% of the container. Adjust as needed. */
  height: auto; /* Maintain aspect ratio */
  margin: 0 auto; /* Center the image horizontally */
  display: block;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* #search-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

#search-bar {
  padding: 10px;
  width: 300px;
  border-radius: 5px 0 0 5px;
  border: 1px solid red;
}

#search-button {
  margin-left: 10px;
  padding: 10px 15px;
  border-radius: 0 5px 5px 0;
  border: 1px solid red;
  background-color: white;
  color: black;
  cursor: pointer;
} */

/* Contact Us Section Styles */
#contact {
  color: white;
  text-align: center;
  padding: 50px 0;
}

#contact h2 {
  margin-bottom: 30px;
  font-size: 2em;
}

#contact form {
  max-width: 500px;
  margin: 0 auto;
  background: black;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#contact label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #000;
  color: white;
}

#contact textarea {
  resize: vertical;
}

#contact input[type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  margin-top: 10px;
  background: linear-gradient(0deg, #000, #272727);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#contact input[type="submit"]:hover {
  background: #0000ff;
}

#about {
  color: white;
  background-color: #000;
  padding: 50px;
  text-align: center;
}

#about h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 2em;
}

#about p {
  color: #ccc;
  font-size: 1.1em;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto 20px;
}

.auth-button {
  position: absolute;
  background-color: #272727;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

#loginButton {
  top: 30px;
  right: 130px;
}

#signupButton {
  top: 30px; /* Adjust the distance for the second button */
  right: 20px;
}

.auth-button:hover {
  background-color: #0000ff47;
  transition: background-color 0.2s;
  cursor: pointer;
}

.svg-frame {
  position: relative;
  width: 1400px;
  height: 800px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-frame svg {
  position: absolute;
  transition: 0.5s;
  z-index: calc(1 - (0.2 * var(--j)));
  transform-origin: center;
  width: 344px;
  height: 344px;
  fill: none;
}

.svg-frame:hover svg {
  transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i)))
    translateY(calc(-35px * var(--i)));
}

.svg-frame svg #center {
  transition: 0.5s;
  transform-origin: center;
}

.svg-frame:hover svg #center {
  transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

#out2 {
  animation: rotate16 7s ease-in-out infinite alternate;
  transform-origin: center;
}

#out3 {
  animation: rotate16 3s ease-in-out infinite alternate;
  transform-origin: center;
  stroke: #ff0;
}

#inner3,
#inner1 {
  animation: rotate16 4s ease-in-out infinite alternate;
  transform-origin: center;
}

#center1 {
  fill: #ff0;
  animation: rotate16 2s ease-in-out infinite alternate;
  transform-origin: center;
}

@keyframes rotate16 {
  to {
    transform: rotate(360deg);
  }
}

.darkThemeBtn {
  position: absolute;
  top: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  z-index: 999;
  transition: all 0.3s;
}
.darkThemeBtn * {
  transition: all 0.3s;
}

.darkThemeBtn input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.darkThemeBtn label {
  border: 1px solid #efefef;
  background: rgba(239, 239, 239, 0.5);
  border-radius: 10px;
  height: 46px;
  width: 46px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.darkThemeBtn label:active {
  border-radius: 5px;
}

.darkThemeBtn label svg {
  position: absolute;
  width: 16px;
  transition: 0.3s;
  z-index: 1;
  fill: #000;
}

.darkThemeBtn label svg.sun {
  width: 20px;
  opacity: 0;
  fill: #fff;
}

.darkThemeBtn label svg.moon {
  opacity: 1;
}

.darkThemeBtn input:checked + label {
  background: #4a6cf7;
}

.darkThemeBtn input:checked + label svg.sun {
  opacity: 1;
}

.darkThemeBtn input:checked + label svg.moon {
  opacity: 0;
}

.darkThemeBtn input:checked ~ span {
  background-color: #16174b;
}

.CartBtn {
  width: 140px;
  height: 40px;
  border-radius: 12px;
  border: none;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.5s;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
}

.IconContainer {
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.5s;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(17, 17, 17);
  z-index: 1;
  transition-duration: 0.5s;
  font-size: 1.04em;
  font-weight: 600;
}

.CartBtn:hover .IconContainer {
  transform: translateX(58px);
  border-radius: 40px;
  transition-duration: 0.5s;
}

.CartBtn:hover .text {
  transform: translate(10px, 0px);
  transition-duration: 0.5s;
}

.CartBtn:active {
  transform: scale(0.95);
  transition-duration: 0.5s;
}

.search-center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  width: auto;
}

/* Search Bar */
.input__container {
  position: relative;
  background: rgba(255, 255, 255, 0.664);
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 22px;
  max-width: 300px;
  transition: transform 400ms;
  transform-style: preserve-3d;
  transform: rotateX(15deg) rotateY(-20deg);
  perspective: 500px;
  width: 100%;
}

.shadow__input {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(30px);
  border-radius: 20px;
  background-color: #999cff;
  background-image: radial-gradient(
      at 85% 51%,
      hsla(60, 60%, 61%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 74% 68%, hsla(235, 69%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 64% 79%, hsla(284, 72%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 75% 16%, hsla(283, 60%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 90% 65%, hsla(153, 70%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 91% 83%, hsla(283, 74%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 72% 91%, hsla(213, 75%, 75%, 1) 0px, transparent 50%);
}

.input__button__shadow {
  cursor: pointer;
  border: none;
  background: none;
  transition: transform 400ms, background 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 5px;
}

.input__button__shadow:hover {
  background: rgba(255, 255, 255, 0.411);
}

.input__search {
  width: 100%;
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 8px;
  position: relative;
}

/* Cart */
.container {
  width: 1200px;
  margin: auto;
  max-width: 90%;
  transition: transform 1s;
  transform: translate(0);
}

#cartIcon {
  width: 60px;
}

.iconCart {
  float: right;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.totalQuantity {
  position: absolute;
  top: 0;
  right: 0;
  font-size: x-large;
  background-color: #b31010;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(20px);
}

.cartTab {
  color: #fff;
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100%;
  background-color: rgb(42, 17, 77);
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  gap: 20px;
  transition: right 1s;
  z-index: 999;
  border-radius: 20px 0 0 20px;
}

.cartTab h2 {
  color: white;
  padding: 20px;
  margin: 0;
}

.cartTab .listCart .item {
  display: grid;
  grid-template-columns: 50px 1fr 70px;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.cartTab .listCart img {
  width: 100%;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
}

.cartTab .listCart .item .name {
  font-weight: bold;
}

.cartTab .listCart .item span {
  display: block;
  width: 50px;
  text-align: center;
}

.cartTab .listCart {
  padding: 20px;
  overflow: auto;
}

.cartTab .listCart::-webkit-scrollbar {
  width: 0;
}

.cartTab .buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.cartTab .buttons div {
  background-color: #0f0022;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  margin: 0 5px 0 5px;
}

.cartTab .buttons a {
  color: #fff;
}

.cartTab .buttons .checkout {
  background-color: #8b0b9f;
}
